<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wya.uikit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--android:theme="@style/KitTheme"-->
    <application>
        <activity
            android:name=".gallery.PicturePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".imagepicker.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".imagecrop.CropActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".imagepicker.PickerProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>