<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wya.example">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.uikit.UiKitExampleActivity" />
        <activity android:name=".module.harware.HardwareExampleActivity" />
        <activity android:name=".module.helper.HelperExampleActivity" />
        <activity android:name=".module.uikit.toolbar.ToolBarExampleActivity" />
        <activity android:name=".module.uikit.dialog.DialogExampleActivity" />
        <activity android:name=".module.uikit.tabbar.TabBarExampleActivity" />
        <activity android:name=".module.uikit.segmentedcontrol.SegmentedControlExampleActivity" />
        <activity android:name=".module.uikit.popupwindow.PopupWindowExampleActivity" />
        <activity android:name=".module.uikit.toast.ToastExampleActivity" />
        <activity android:name=".module.uikit.searchbar.SearchBarExampleActivity" />
        <activity android:name=".module.uikit.paginationview.PaginationViewExampleActivity" />
        <activity android:name=".module.uikit.keyboard.KeyboardExampleActivity"/>
        <activity android:name=".module.uikit.badge.BadgeExampleActivity" />
        <activity android:name=".module.uikit.choicemenu.ChoiceMenuExampleActivity" />
        <activity android:name=".module.uikit.button.ButtonExampleActivity"></activity>
        <activity android:name=".module.uikit.gallery.GalleryExampleActivity"></activity>
    </application>

</manifest>